body{
    background:url(../images/splash-img.jpg);
    background-size:cover;
}
.btn-green {
    background: #26a79d;
    border: #26a79d;
    color:#fff!important;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn{
    font-family: "Raleway-SemiBold";
    border-color: #e23e28;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    padding: 15px 35px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
    border-radius: 10px;
}
.h1, .h2, .h4, .h5, .h6, h1, h2,  h4, h5, h6 {
    font-family: "Roboto-Medium";
	text-transform:uppercase;
}
.h3, h3{
      font-family: "Raleway-ExtraBold";
      	text-transform:uppercase;
      	    text-shadow: 1px 1px #000000;
      	   font-size: 36px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 30px;
}
p{
 font-family: "Raleway-Regular";
 font-size:16px;
}
@media (max-width: 768px) {

}